.pagination-wrapper {
  display: flex;
  padding-top: 50px;
}

.pagination-button {
  border: none;
  background-color: transparent;
  padding: 0 10px;
  cursor: pointer;
}

.number-page {
  padding: 5px;
  cursor: pointer;
}

.active {
  font-size: 16px;
  font-weight: bold;
}